<form id="post-game" action="/games" method="POST">
	<input type="time" name="game[time]" placeholder="Time">
	<input type="date" name="game[date]" placeholder="Date">
	<input type="text" name="game[field_address]" placeholder="Field Address">
	<input type="submit" value="Add The Game">
</form>