<h1>Add a Game</h1>
<form action="/games" method="POST">
	<input type="text" name="game[time]" placeholder="Time">
	<input type="text" name="game[date]" placeholder="Date">
	<input type="text" name="game[field_address]" placeholder="Field Address">
	<input type="submit" value="Add The Game">
</form>